<section class="page conjunctions">

    <section class="hero">

        <p class="eyebrow">
            Grammar category
        </p>

        <h1>
            Conjunctions
        </h1>

        <p>
            A list of conjunctions and adverbs.
        </p>

    </section>

    <section class="topic-grid">

        <a href="#conjunctions/satsadverb" class="topic-card">
            <span class="icon">🏛️</span>

            <h2>Sentence Adverbial</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/konjunktioner" class="topic-card">
            <span class="icon">🏛️</span>

            <h2>Conjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/generella-subjunktioner" class="topic-card">
            <span class="icon">🏛️</span>

            <h2>General Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/temporala-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Temporal Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/kausala-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Causal Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/villkorliga-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Conditional Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/koncessiva-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Concessive Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/finala-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Final Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/konsekutiva-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Consecutive Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

        <a href="#conjunctions/komparativa-subjunktioner" class="topic-card">
            <span class="icon">🔗</span>

            <h2>Comparative Subjunctions</h2>

            <p>
                Theory
            </p>
        </a>

    </section>

</section>