<section class="page verbs">

    <section class="hero">

        <p class="eyebrow">
            Grammar category
        </p>

        <h1>
            Verbs
        </h1>

        <p>
            Practise Swedish verb forms through theory, examples, and self-correcting exercises.
        </p>

    </section>

    <section class="hero-2">

        <h1>
            Commons verbs
        </h1>

    </section>

    <section class="topic-grid">

        <a href="#verbs/present" class="topic-card">
            <span class="icon">⏳</span>

            <h2>Presens</h2>

            <p>
                Multiple Choice
            </p>
        </a>

        <a href="#verbs/present-fill-the-gap" class="topic-card">
            <span class="icon">⏳</span>

            <h2>Presens</h2>

            <p>
                Fill the Gap
            </p>
        </a>

        <a href="#verbs/preteritum" class="topic-card">
            <span class="icon">🕰️</span>

            <h2>Preteritum</h2>

            <p>
                Multiple Choice
            </p>
        </a>

        <a href="#verbs/preteritum-fill-the-gap" class="topic-card">
            <span class="icon">🕰️</span>

            <h2>Preteritum</h2>

            <p>
                Fill the Gap
            </p>
        </a>

        <a href="#verbs/perfekt" class="topic-card">
            <span class="icon">✅</span>

            <h2>Perfekt</h2>

            <p>
                Multiple Choice
            </p>
        </a>

        <a href="#verbs/perfekt-fill-the-gap" class="topic-card">
            <span class="icon">✅</span>

            <h2>Perfekt</h2>

            <p>
                Fill the Gap
            </p>
        </a>

        <a href="#verbs/imperativ-fill-the-gap" class="topic-card">
            <span class="icon">📣</span>

            <h2>Imperativ</h2>

            <p>
                Fill the Gap
            </p>
        </a>

        <a href="#verbs/verb-final" class="topic-card">
            <span class="icon">📣</span>

            <h2>Final Quiz</h2>

            <p>
                Fill the gap
            </p>
        </a>
    </section>

    <section class="hero-2">

        <h1>
            Passives
        </h1>

    </section>

    <section class="topic-grid">

        <a href="#verbs/s-passiv" class="topic-card new" date-release="2026-07-10">
            <span class="icon">🔄</span>

            <h2><i>S</i>-Passiv</h2>

            <p>
                Transform the sentence
            </p>
        </a>

        <a href="#verbs/bli-passiv" class="topic-card new" date-release="2026-07-10">
            <span class="icon">🔄</span>

            <h2><i>Bli</i> Passiv</h2>

            <p>
                Transform the sentence
            </p>
        </a>

        <a href="#verbs/vara-passiv" class="topic-card new" date-release="2026-07-10">
            <span class="icon">🔄</span>

            <h2><i>Vara</i> Passiv</h2>

            <p>
                Transform the sentence
            </p>
        </a>

        <a href="#verbs/verb-final" class="topic-card coming-soon">
            <span class="icon">📣</span>

            <h2>Final Quiz</h2>

            <p>
                Fill the gap
            </p>
        </a>

    </section>

</section>